{% extends "base.html" %}
{% load static %}
{% block titulo %}
   Cardápio
{% endblock %}

{% block corpo %}
    <div class="container-fluid" id="cardapio-container">

        <h2 id="cardapio-title">Cardápio</h2>

        <div class="row col-12">
            {% for categoria_produto in categorias_produtos %}
                {% if categoria_produto.1 %}
                    <div class="col-12 mb-3 cardapio-subtitle">
                        <h4>{{ categoria_produto.0.nome }}</h4>
                    </div>
                    <div class="sabor-container col-12 mb-5">
                        <div class="row">
                            {% for produto in categoria_produto.1 %}
                                <div class="col-lg-6 mb-5">
                                    <div class="media col-12">
                                        {% if produto.imagem %}
                                            <img src="{{produto.imagem.url}}" alt={{ produto.nome }}>
                                         {% else %}
                                           <div class="text-md-center mb-md-0 mb-2">
                                              Imagem não disponível
                                           </div>
                                        {% endif %}
                                        <div class="media-body col-12">
                                            <h5 class="col-12">{{ produto.nome }} - R${{ produto.preco }} <span class="badge badge-secondary">Novidade</span></h5>
                                            <p class="col-12">{{ produto.descricao }}</p>
                                            <button class="btn btn-add-carrinho col-12" type="submit" ><i class="fas fa-shopping-cart"></i>
                                                Adicionar ao carrinho</button>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="row mb-4">
                        <div class="col-4"></div>
                        <div class="col-8" style='font-size: 14px; margin-bottom: 28px'>
                            {% if categoria_produto.1.has_other_pages %}
                                <ul class='pagination'>
                                    {% if categoria_produto.1.has_previous %}
                                        <li class='page-item page-item-change'><a class='page-link ' href='?{{categoria_produto.0.slug}}={{ categoria_produto.1.previous_page_number }}'>Anterior</a></li>
                                    {% else %}
                                        <li class='page-item disabled'><a class='page-link' href='#' tabindex='-1'>Anterior</a></li>
                                    {% endif %}

                                    {% for i in categoria_produto.1.paginator.page_range %}
                                        {% if categoria_produto.1.number == i %}
                                            <li class='page-item active'><a class='page-link' href='#'>{{ i }} </a></li>
                                        {% else %}
                                            <li class='page-item page-item-change'><a class='page-link' href='?{{categoria_produto.0.slug}}={{ i }}'>{{ i }}</a></li>
                                        {% endif %}
                                    {% endfor %}

                                    {% if categoria_produto.1.has_next %}
                                        <li class='page-item page-item-change'><a class='page-link' href='?{{categoria_produto.0.slug}}={{ categoria_produto.1.next_page_number }}'>Próxima</a></li>
                                    {% else %}
                                        <li class='page-item disabled'><a class='page-link' href='#' tabindex='-1'>Próxima</a></li>
                                    {% endif %}
                                </ul>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}